/*=========================================================================================
    File Name: main-menu.scss
    Description: Styles for menu components, main navigation and menu itself.
    ----------------------------------------------------------------------------------------
    Item Name: Vuesax HTML Admin Template
    Version: 1.0
    Author: PIXINVENT
    Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/

