// ===============================================================================================
//  File Name: error.scss
//  Description: Page content different user error page layouts SCSS.
//  ----------------------------------------------------------------------------------------------
//  Item Name: Vuesax HTML Admin Template
//  Version: 1.0
//  Author: PIXINVENT
//  Author URL: http://www.themeforest.net/user/pixinvent
// ================================================================================================

.error-code{
    font-size:10rem;
}